


	.input{
	

		border:1px solid #C8C8F3; 

	}

	.input:hover{

		border:1px solid #9697FF;
	}

	.input:focus{

		background-color:#96C7FF;
	}

	/*https://www.w3schools.com/cssref/sel_placeholder.asp*/
		::placeholder {
  		color: #8484C1!important;
	}